
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/template/js/vendor/jquery-1.12.4.min.js"></script>
<br />
<br />
<br />
<br />
<br />
<form>
    <input class="form-control form-control-lg" id="name" type="text" placeholder="Ad Soyad">
    <br />
    <input class="form-control form-control-lg" id="email" type="text" placeholder="E mail"><br />
    <input class="form-control form-control-lg" id="password" type="text" placeholder="Şifre"><br />


    <button id="btnRegister">Kaydet</button>
</form>
<script src="~/js/Util/Util.js"></script>

<script>
    $("#btnRegister").click(function () {
        var data = {
            "Name": $("#name").val(),
            "Email": $("#email").val(),
            "Password": $("#password").val(),
        }

        Util.Ajax.Generic("kayit-ol", data, "POST", "json", false, null, success, null, null);



        function success(status) {
            if (status.operation == "Success") {
                window.location.href = "giris";
            }
        }

    });
</script>