
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .multipleChosen, .multipleSelect2 {
        width: 300px;
    }
</style>
<div class="login_left">
    <div class="loginlogo"></div>
    <div class="question1 ha" style="margin-top:5px; font-family:Arial, Helvetica, sans-serif;">Üye</div>
    <div class="question2 ha" style="margin-top: 5px;color:#333333;font-family: Arial, Helvetica, sans-serif;">Girişi</div>
    <div> </div>

    <div>
        <input type="text" id="UserNameLog" value="Username" onfocus="if(this.value=='Username')this.value=''" onblur="if(this.value=='')this.value='Username'" class="login_name" />
        <br />
        <input type="text" id="PasswordLog" value="******" onfocus="if(this.value=='******')this.value=''" onblur="if(this.value=='')this.value='******'" class="login_password" />
        <input value="Go »" id="btnLogin" class="go" type="submit" />
    </div>



    <div style="clear:both;"></div>
    <div class="italicblue"><span id="span" style="color: red;font-size: large;"></span></div>
    <br />
    <br />
    <br />

    <div style="clear:both;"></div>
    <div class="hbar">-</div>
    <div class="italicblue"><a href="#">Şifrenizi mi unuttunuz?</a></div>
    <div style="clear:both;"></div>
    <div class="hbar">-</div>
    <div class="italicblue"><a href="#"></a></div>
</div>




<div class="login_right">
    <div class="registerlogo"></div>
    <div class="question1 ha" style="margin-top:5px; font-family:Arial, Helvetica, sans-serif">Kayıt </div>
    <div class="question1 ha" style="margin-top: 5px; margin-left: 9px; font-family: Arial, Helvetica, sans-serif">Ol</div>

    <div>
        <input type="text" id="UserName" value="Username" onfocus="if(this.value=='Username')this.value=''" onblur="if(this.value=='')this.value='Username'" class="register_name" />
        <br />
        <input type="text" id="Password" value="Password" onfocus="if(this.value=='Password')this.value=''" onblur="if(this.value=='')this.value='Password'" class="register_password" />
        <br />
        <input type="text" id="Email" value="Em@il" onfocus="if(this.value=='Em@il')this.value=''" onblur="if(this.value=='')this.value='Em@il'" class="register_password" />
        <br />
        <div class="custom-select"  style="width: 200px; color: #999999;">
            <select id="UserType">
                <option value="0">Select Member Type:</option>
                <option value="1">User</option>
                <option value="2">Nutritionist</option>
            </select>
        </div>
        <br />
        <input value="Register" id="btnRegister" class="register_account" type="submit" />

    </div>


    <div class="checkbox">
        <input type="checkbox" id="cb" name="box" />
    </div>
    <div class="cbtext">I have read terms and conditions</div>
    <div class="cbtextsmall"> <a href="#">terms and conditions</a> </div>
    <script src="~/js/Util/Util.js"></script>
    <script>
        $("#btnRegister").click(function () {

            var data = {
                "UserName": $("#UserName").val(),
                "Password": $("#Password").val(),
                "Email": $("#Email").val(),
                "UserType": $("#UserType").val(),
            };

            Util.Ajax.Generic("log", data, "POST", "json", false, null, success, null, null);



            function success(status) {
                var asd = 0;
            }

        });
    </script>

    <script>
        $("#btnLogin").click(function () {

            var data = {
                "UserNameLog": $("#UserNameLog").val(),
                "PasswordLog": $("#PasswordLog").val()
            };
  


            Util.Ajax.Generic("logg", data, "POST", "json", false, null, success, null, null);

            function success(status) {
                if (status.operation == "Success") {
                    window.location.href = "anasayfa";
                } else if (status.operation == "Wrong") {
                    $("#span").append("Hatalı Giriş");
                }
            }
        });
    </script>
</div>

